configuration {
    font: "Iosevka 14";
    line-margin: 10;

    display-ssh:    "";
    display-run:    "";
    display-drun:   "";
    display-window: "";
    display-combi:  "";
    show-icons:     true;
}

/* TODO: how to pull straight from repo */
@theme "~/.config/rofi/colorscheme.rasi"
